{{define "potpissers"}}potpissers - hcf{{end}}

{{define "gamemodes"}}
<option disabled selected hidden>hcf.potpissers.com</option>
<option value="/">home</option>
<option value="mz">mz.potpissers.com</option>
<option disabled>hcf.potpissers.com</option>
{{end}}

{{define "server info"}}
<div style="flex: 1; display: flex; flex-direction: column">
    <div style="display: flex; justify-content: space-between">
        <button style="width: fit-content">server: 000</button>
        <select style="margin-top: auto; margin-left: auto">
            <option disabled selected>map 1</option>
        </select>
    </div>
    <ul style="font-size: 75%;">
        <li>{{ .AttackSpeed }} attack speed</li>
        <li>{{ .DeathBanMinutes }}m deathban</li>
        <li>{{ .LootFactor }}x event loot</li>
        <li>{{ .BorderSize }} border</li>
    </ul>
</div>
{{end}}

{{define "content"}}
<div class="" style="display: flex;">
    <div class="foo baz" style="text-align: center; flex: 3">
        <div>
            <button style=";" onclick="doUnhide('tips')">
                hcf info
            </button>
            <button onclick="doUnhide('classes')">
                class info
            </button>
            <button onclick="doUnhide('kit')">
                map foo info
            </button>

            <ul id="tips" style="visibility: hidden">
                {{range .Tips}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <ul id="classes" style="visibility: hidden">
                {{range .ClassInfo}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <ul id="kit" style="visibility: hidden">
                <li style="">sharpness 1</li>
                <li style="">protection 2</li>
                <li style="">power 3</li>
                <li style="">regen 1</li>
                <li style="">strength 2</li>
                <li style="">weakness off</li>
                <li style="">extended debuffs off</li>
                <li style="">dtr freeze 0s</li>
                <li style="">dtr regen 480s</li>
                <li style="">dtr max 5.5</li>
            </ul>
        </div>
<!--        <div class="foo baz">-->
<!--            &lt;!&ndash;        <h3>TODO MAP + loot tables&ndash;&gt;-->
<!--        </div>-->
    </div>
    <div class="foo baz" style="text-align: center; flex: 1;">
        <button style="align-self: center">factions</button>
        <ul>

        </ul>
        <input style="width: 6.25rem">
    </div>
</div>
{{end}}