{{define "potpissers"}}potpissers - mz{{end}}

{{define "gamemodes"}}
<option disabled selected hidden>mz.potpissers.com</option>
<option value="/">home</option>
<option disabled>mz.potpissers.com</option>
<option value="hcf">hcf.potpissers.com</option>
{{end}}

{{define "server info"}}
<div style="flex: 1; display: flex; flex-direction: column">
    <button style="width: fit-content">server: 000</button>
    <ul style="flex: 1">
        <li>{{ .AttackSpeed }} attack speed</li>
    </ul>
</div>
{{end}}

{{define "content"}}
<div class="foo baz" style="flex: 3; display: flex; flex-direction: column">
    <div style="display: flex">
        <button style="width: fit-content">
            potpissers tips
        </button>
        <button style="">
            mz tips
        </button>
        <button style="margin-left: auto"></button>
    </div>
    <ul id="tips" style="overflow-y: scroll; flex: 1">
        {{range .PotpissersTips}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <ul id="mztips" style="overflow-y: scroll; flex: 0">
        {{range .MzTips}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <!--    <div class="foo baz" style="">-->
    <!--        <h3>-->
    <!--            &lt;!&ndash;        TODO -> map + loot tables&ndash;&gt;-->
    <!--        </h3>-->
    <!--    </div>-->
</div>

<div class="foo baz" style="flex: 1; text-align: center">
    <button>bandits</button>
    <button>heroes</button>
</div>
{{end}}