{{define "potpissers"}}potpissers - hcf{{end}}

{{define "gamemodes"}}
<option disabled selected hidden>hcf.potpissers.com</option>
<option value="/">home</option>
<option value="mz">mz.potpissers.com</option>
<option disabled>hcf.potpissers.com</option>
{{end}}

{{define "server info"}}
<li style="margin: 0">attack speed: 12</li>
<li style="">event loot: 1x</li>
<li style="">deathban: 30m</li>
<li style="">border: 2500</li>
{{end}}

{{define "content"}}
<div class="" style="display: flex;">
    <div class="foo baz" style="text-align: center; flex: 3">
        <div>
            <button style=";" onclick="doUnhide('tips')">
                hcf info
            </button>
            <button onclick="doUnhide('classes')">
                class info
            </button>
            <button onclick="doUnhide('kit')">
                map foo info
            </button>

            <ul id="tips" hidden>
                {{range .Tips}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <ul id="classes" hidden>
                {{range .ClassInfo}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <ul id="kit" hidden>
                <li style="">sharpness: 1</li>
                <li style="">protection: 2</li>
                <li style="">power: 3</li>
                <li style="">regen: 1</li>
                <li style="">strength: 2</li>
                <li style="">weakness: off</li>
                <li style="">extended debuffs: off</li>
                <li style="">dtr freeze: 0s</li>
                <li style="">dtr regen: 480s</li>
                <li style="">dtr max: 5.5</li>
            </ul>
        </div>
<!--        <div class="foo baz">-->
<!--            &lt;!&ndash;        <h3>TODO MAP + loot tables&ndash;&gt;-->
<!--        </div>-->
    </div>
    <div class="foo baz" style="text-align: center; flex: 1">
        <button>factions</button>
    </div>
</div>
{{end}}