<!DOCTYPE html>
<html lang="en" style="background-image: url('{{.MainTemplateData.BackgroundImageUrl.ImageUrl}}')">
<head>
    <meta charset="UTF-8">
    <title>WIP {{block "potpissers" .}}{{end}}</title>
    <link rel="stylesheet" href="static.css">
</head>
<body>

<div class="bd" style="display: flex; flex-direction: column">
    <div style="text-align: center">
        <span class=ifc>
            <button>fights</button>
            <input name="deaths-ticker" type="radio">
        </span>
        <span class=ifc>
            <button>deaths</button>
            <input name="deaths-ticker" type="radio" checked>
        </span>
        <span class=ifc>
            <button>duels</button>
            <input name="deaths-ticker" type="radio">
        </span>
    </div>
    <ul id=deaths style="overflow-x: hidden; overflow-y: scroll">
        {{range .MainTemplateData.Deaths}}
        <li>
            <p>
                ({{.ServerName}}) {{.DeathMessage}}
            </p>
        </li>
        {{end}}
    </ul>
    {{block "fights" .}}{{end}}
    {{block "duels" .}}{{end}}
</div>

<div style="display: flex; flex-direction: column">
    <div style="display: grid; grid-template-columns: 1fr auto 1fr;"> <!-- TODO  MAKE THIS FLEX!-->
        <div style="display: flex; justify-content: space-between">
            <button style="align-self: start; font-size: 75%">
                leaderboards
            </button>
            <select style="font-size: 75%; align-self: end">
                {{block "slash" .}}{{end}}
            </select>
        </div>
        <div
             style="align-items: center; justify-self: center; display: inline-flex; background-color: #CEE3F8; padding-left: 0; padding-right: .5rem">
            <img style="cursor: pointer; height: 2.5rem; width: 2.5rem; margin: 0; border-radius: .5rem"
                 src="potpisser.jpg" alt="image of calvin pissing"
                 onclick="window.location.href='/';">
            <select style="width: 11.75rem; text-align: right" onchange="window.location.href=this.value">
                {{block "gamemodes" .}}{{end}}
            </select>
        </div>
        <div style="display: flex; justify-content: space-between">
            <input style="align-self: start; width: 8rem" type="search"
                   placeholder="players">
            <div style="display: flex; flex-direction: column; align-items: end">
                <a href="https://reddit.com/r/potpissers">
                    <small>
                        /r/potpissers
                    </small>
                </a>
                <a href="https://discord.gg/Cqnvktf7EF">
                    <small>
                        discord
                    </small>
                </a>
            </div>
        </div>
    </div>

    <div style="display: flex; height: 100%; overflow-y: auto">
        <div style="display: flex; flex-direction: column; flex: 1">
            <!--            TODO -> networkPlayers-->
            <ul id=online style="overflow-y: scroll; flex: 1" hidden>
                {{range .MainTemplateData.ServerPlayers}}
                <li>
                    <p>
                        {{.Name}}
                    </p>
                </li>
                {{end}}
            </ul>

            <ul class="id-chat-discord" style="text-align: left; justify-items: end; flex: 1; overflow-y: auto; direction: rtl; flex-direction: column-reverse; font-size: 75%" hidden>
                {{range .MainTemplateData.DiscordMessages}}
                <li>
                    <p>
                        {{.Content}}
                    </p>
                </li>
                {{end}}
            </ul>
            <ul class="id-chat-game" style="flex: 1; direction: rtl; overflow-y: auto; height: 100%">
                {{range .MainTemplateData.Messages}}
                <li>
                    <p>
                        {{.Message}}
                    </p>
                </li>
                {{end}}
            </ul>
            <div style="display: flex; justify-content: space-between">
                <button style="font-size: 75%" onclick="handleChatToggle(this)">game</button>
                <button class="id-chat-discord" hidden style="font-size: 75%" onclick="fetch('/api/discord-general')" onmouseover="fetch('/api/discord-general')">refresh</button>
                <input class="id-chat-game" style="font-size: 75%">
            </div>
        </div>

        <div style="flex: 1; display: flex; flex-direction: column">
            <div style="display: flex; justify-content: space-between">
                {{block "attackspeed" .}}{{end}}
                {{block "map" .}}{{end}}
            </div>
            {{block "server info" .}}{{end}}
        </div>

        <div style="display: flex; flex-direction: column; flex: 1">
            <div style="flex: 1; display: flex; flex-direction: column-reverse">
                <ul id=referrals style="display: flex; flex-direction: column; align-items: flex-end; align-self: end">
                    {{range .MainTemplateData.NewPlayers}}
                    <li title="{{.Timestamp}}">
                        <small>
                            {{.PlayerName}} ({{.Referrer}}) [{{.RowNumber}}]
                        </small>
                    </li>
                    {{end}}
                </ul>
            </div>
            <div style="display: flex">
                {{block "events button" .}}{{end}}
                <button style="font-size: 75%; margin-left: auto">"/referral"s</button>
            </div>
        </div>
    </div>
</div>

<div class="bd" style="display: flex; flex-direction: column; align-items: center">
    <div style="display: grid; grid-template-columns: 1fr auto 1fr; align-items: start">
        <button style="font-size: 75%" onclick="fetch('/api/reddit')" onmouseover="fetch('/api/reddit')">refresh</button>
        <select>
            <option selected>videos</option>
            <option>posts</option>
        </select>
        <select style="font-size: 75%">
            <option>new</option>
        </select>
    </div>
    <ul id="videos">
        {{range $i, $data := .MainTemplateData.RedditVideos}}
        <li class=fsb>
            {{if $data.YoutubeEmbedUrl}}
            <iframe id="rv-{{$i}}" style="width: 50%; pointer-events: none" allow="autoplay"></iframe>
            <script defer>
                document.addEventListener('DOMContentLoaded', () =>
                    document.getElementById("rv-{{$i}}").src="{{$data.YoutubeEmbedUrl}}?autoplay=1&controls=0&mute=1&loop=1")
            </script>
            {{else}}
            <video id="rv-{{$i}}" style="width: 50%"></video>
            <script defer>
                document.addEventListener('DOMContentLoaded', () =>
                    document.getElementById("rv-{{$i}}").src="{{$data.VideoUrl}}")
            </script>
            {{end}}
            <a href={{$data.PostUrl}}>
                <small>
                    {{$data.Title}}
                </small>
            </a>
        </li>
        {{end}}
    </ul>
</div>

<div class="bd" style="text-align: center">
    <button>events</button>
    <ul id=events>
        {{range .MainTemplateData.Events}}
        <li>
            <p>
                {{.CapMessage}}
            </p>
        </li>
        {{end}}
    </ul>
</div>

<div class="bd mbd" id="content"
     style="display: grid; grid-template-columns: 3fr 1fr; grid-template-rows: 1fr 1fr">
    <div style="display: flex; flex-direction: column; overflow-y: auto">
        <div style="display: flex">
            <div style="margin-left: auto">
                <button>announcements</button>
                <button>changelog</button>
            </div>
            <button onclick="handleContentMaximizeButtonClick(true)" style="margin-left: auto"></button>
        </div>
        <ul id=announcements style="overflow-y: scroll">
            {{range .MainTemplateData.Announcements}}
            <li>
                <p>
                    {{.Content}}
                </p>
            </li>
            {{end}}
        </ul>
        <ul id=changelog style="overflow-y: scroll" hidden>
            {{range .MainTemplateData.Changelog}}
            <li>
                <p>
                    {{.Content}}
                </p>
            </li>
            {{end}}
        </ul>
    </div>
    <div style="display: flex; flex-direction: column; overflow-y: auto; overflow-x: hidden">
        <div style="display: flex; justify-content: space-between">
            <button id="donatebutton">donate</button>
            <button onclick="fetchPaymentLink()" id="checkout" class="fsb h"><span style="font-size: 75%">square.com</span><span id="checkoutbalance"></span></button>

            <button id="donatesidebutton" onclick="handleContentMaximizeButtonClick(true)"></button>
            <button hidden id="donatesidebuttonred" onclick="doLineItemReset()" style="background-color: indianred"></button>
        </div>
        <ul style="overflow-y: scroll; width: 100%" >
            <!--                <li>-->
            <!--                    <button style="width: fit-content">unmute</button>-->
            <!--                </li>-->
            <!--            <button>shoutout</button>-->
            {{range .MainTemplateData.LineItemData}}
            <li class="fc85">
                <button onclick="handleClassHiddenToggle('{{.GamemodeName}}-{{.ItemName}}'); handleLineItemButtonContentMaximize()" class="fsb" style="width: 100%">
                    {{.GamemodeName}}<br>{{.ItemName}}<span>${{.ItemPriceInDollars}}</span>
                </button>

                <p class={{.GamemodeName}}-{{.ItemName}} hidden>
                    {{.ItemDescription}}
                </p>

                {{if .IsPlural}}
                <input id="{{.GamemodeName}}-{{.ItemName}}-amount" style="align-self: end; width: 20%; font-size: 75%" placeholder=amount type=number min=1
                       value=1 step=1 class="{{.GamemodeName}}-{{.ItemName}}" hidden>
                {{end}}
                <div style="display: flex">
                    <input id="donate-username" class="fi {{.GamemodeName}}-{{.ItemName}}" hidden style="width: 60%; font-size: 75%" placeholder="username"
                           onblur="handleMcNameBlur(this)">
                    <script async>
                        document.getElementById("donate-username").addEventListener("keydown", (e) => handleMcNameKeyDown(e))
                    </script>

                    <button style="font-size: 75%" class="{{.GamemodeName}}-{{.ItemName}}" hidden
                            onclick="handleAddLineItemJson('{{.GamemodeName}}-{{.ItemName}}', {{if .IsPlural}}document.getElementById('{{.GamemodeName}}-{{.ItemName}}-amount').value{{else}}1{{end}})">
                        add
                    </button>
                </div>
            </li>
            {{end}}
            <!--            <button style="width: fit-content">hcf big dog</button>-->
        </ul>
    </div>

    <div style="display: flex; flex-direction: column; overflow-y: auto">
        <div style="display: flex">
            {{block "server tips buttons" .}}{{end}}

            <button onclick="handleContentMaximizeButtonClick(false)" style="margin-left: auto"></button>
        </div>
        {{block "server tips data" .}}{{end}}
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; overflow-y: auto">
        {{block "server ticker buttons" .}}{{end}}
        {{block "server ticker data" .}}{{end}}
    </div>
</div>

<div class="bd" style="text-align: center">
    <button>donations</button>
    <ul id="donations">
        {{range .MainTemplateData.Donations}}
        <li>
            <p>
                {{.TotalMoney.Amount}} + {{.TotalTipMoney.Amount}}
            </p>
        </li>
        {{end}}
    </ul>
</div>

<footer>
    <a href="https://github.com/potpissers" style="grid-column: 2; justify-self: center">
        <small>github.com/potpissers</small>
    </a>
    <a href="{{.MainTemplateData.BackgroundImageUrl.PostUrl}}" style="grid-column: 3; justify-self: end">
        <small>background</small>
    </a>
</footer>

</body>

</html>

<script defer>
    const eventSource = new EventSource("/api/sse/{{.MainTemplateData.GamemodeName}}")

    eventSource.onopen = function () {
        console.log("open")
    }

    eventSource.onmessage = function(e) {
        console.log("wuh")
        const jsonData = JSON.parse(e.data)
        switch (jsonData.type) {
            case "referrals": {
                handleSseLi(jsonData, (li, data) => {
                    li.setAttribute('title', data.timestamp)

                    const small = document.createElement("small")
                    small.textContent = data.player_name + " (" + data.referrer + ") [" + data.row_number + "]"
                    return small
                })
                break
            }
            case "deaths": {
                handleSseLi(jsonData, (li, data) => {
                    const p = document.createElement("p")
                    p.textContent = "(" + data.server_name + ") " + data.death_message
                    return p
                })
                break
            }
            case "events": {
                handleSseLi(jsonData, (li, data) => {
                    const p = document.createElement("p")
                    p.textContent = data.cap_message
                    return p
                })
                break
            }
            case "chat": {
                console.log("hey")
                handleSseLi(jsonData, (li, data) => {
                    const p = document.createElement("p")
                    p.textContent = data.message
                    return p
                })
                break
            }
            case "online": {
                handleSseLi(jsonData, (li, data) => {
                    const p = document.createElement("p")
                    p.textContent = data.name
                    return p
                })
                const onlineNumber = document.getElementById("online-server")
                onlineNumber.textContent = (parseInt(onlineNumber.textContent) + 1).toString()
                break
            }
            case "offline": {
                let flag = false
                document.getElementById("online")
                    .querySelectorAll("li")
                    .forEach(li => {
                        if (li.textContent === jsonData.data.name) {
                            li.remove()

                            const onlineNumber = document.getElementById("online-server")
                            onlineNumber.textContent = (parseInt(onlineNumber.textContent) - 1).toString()
                            flag = true // TODO -> don't use forEach
                        }
                    })
                if (!flag)
                    throw new Error("offline player not found")
            }
            case "donations": {
                handleSseLi(jsonData, (li, data) => {
                    const p = document.createElement("p")
                    p.textContent = data.total_money.amount + "+" + data.total_tip_money.amount
                    return p
                })
                break
            }
            case "videos": {
                handleSseLi(jsonData, (li, data) => {
                    if (data.youtube_embed_url !== null) {
                        const iframe = document.createElement("iframe")
                        iframe.src = data.youtube_embed_url
                        iframe.style.width = "50%"
                        li.appendChild(iframe)
                    }
                    else {
                        const video = document.createElement("video")
                        video.src = data.video_url
                        video.style.width = "50%"
                        li.appendChild(video)
                    }
                    const a = document.createElement("a")
                    a.href = data.post_url
                    const small = document.createElement("small")
                    small.textContent = data.title
                    a.appendChild(small)
                    return a
                })
            }
            case "texts": {
                // TODO impl
            }
            case "general":
            case "changelog":
            case "announcements": {
                handleSseLi(jsonData, (li, data) => {
                    const p = document.createElement("p")
                    p.textContent = data.content
                    return p
                })
                break
            }
        }
    }
</script>
<script defer id="staticjs" src="static.js"></script>
<script async id="staticdonatejs" src="static-donate.js"></script>
<script async>
    const currentPrices = {
    {{range .MainTemplateData.LineItemData}}
    "{{.GamemodeName}}-{{.ItemName}}": {{.ItemPriceInCents}},
    {{end}}
    }
</script>
