{{define "potpissers"}}potpissers - mz{{end}}

{{define "gamemodes"}}
<option disabled selected hidden>mz.potpissers.com</option>
<option value="/">home</option>
<option disabled>mz.potpissers.com</option>
<option value="hcf">hcf.potpissers.com</option>
{{end}}

{{define "attackspeed"}}
<button style="width: fit-content; font-size: 75%">attack speed: {{ .AttackSpeed }}</button>
{{end}}

{{define "server tips buttons"}}
<button onclick="handleTipsButtonClick(['mztips'], 'tips')">potpissers tips</button>
<button onclick="handleTipsButtonClick(['tips'], 'mztips')">mz tips</button>
{{end}}

{{define "server tips data"}}
<ul id="tips" style="overflow-y: scroll; flex: 1" hidden>
    {{range .HomeTemplateData.PotpissersTips}}
    <li>{{.}}</li>
    {{end}}
</ul>

<ul id="mztips" style="overflow-y: auto; flex: 1">
    {{range .MzTips}}
    <li>{{.}}</li>
    {{end}}
</ul>
{{end}}

{{define "server ticker buttons"}}
<div>
    <span class=ifc>
    <button>bandits</button>
    <input name="mz-ticker" type="radio" checked>
</span>
    <span class=ifc>
    <button>heroes</button>
    <input name="mz-ticker" type="radio">
</span>
</div>
{{end}}

{{define "server ticker data"}}
<ul>
    {{range .Bandits}}
    <li>{{.DeathMessage}}</li>
    {{end}}
</ul>
{{end}}

<!--{{define "content"}}-->
<!--<div class="foo baz" style="flex: 3; display: flex; flex-direction: column">-->
<!--    &lt;!&ndash;    <div class="foo baz" style="">&ndash;&gt;-->
<!--    &lt;!&ndash;        <h3>&ndash;&gt;-->
<!--    &lt;!&ndash;            &lt;!&ndash;        TODO -> map + loot tables&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        </h3>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
<!--{{end}}-->