{{define "potpissers"}}potpissers - hcf{{end}}

{{define "gamemodes"}}
<option disabled selected hidden>hcf.potpissers.com</option>

<option value="/">home</option>
<option value="mz">mz.potpissers.com</option>
<option disabled>hcf.potpissers.com</option>
{{end}}

{{define "attackspeed"}}
<button style="font-size: 75%">attack speed: {{ .AttackSpeed }}</button>
{{end}}

{{define "map"}}
<select>
    <option disabled selected>map 1</option>
</select>
{{end}}

{{define "server info"}}
<table>
    <tr>
        <td style="vertical-align: top">deathban</td>
        <td style="vertical-align: top">revive cost</td>
        <td style="vertical-align: top">event loot</td>
        <td style="vertical-align: top">border</td>
    </tr>
    <tr>
        <td style="vertical-align: top">{{ .DeathBanMinutes }}m</td>
        <td style="vertical-align: top">{{ .OffPeakLivesNeeded }}x</td>
        <td style="vertical-align: top">{{ .LootFactor }}x</td>
        <td style="vertical-align: top">{{ .BorderSize }}</td>
    </tr>
</table>
<!--<div class="" style="flex: 1; display: flex; flex-direction: column">-->
<!--&lt;!&ndash;        <li>sharpness {{ .SharpnessLimit }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>protection {{ .ProtectionLimit }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>power {{ .PowerLimit }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>regen {{ .RegenLimit }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>strength {{ .StrengthLimit }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>weakness {{ .IsWeaknessEnabled }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>extended debuffs {{ .IsBardPassiveDebuffingEnabled }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>dtr max {{ .DtrMax }}</li>&ndash;&gt;-->
<!--    <div style="margin-left: auto; margin-top: auto">-->
<!--        <button style="font-size: 75%">/events</button>-->
<!--        <button style="font-size: 75%">/mapkit</button>-->
<!--    </div>-->
<!--</div>-->
{{end}}

{{define "content"}}
<div class="foo baz" style="flex: 3; display: flex; flex-direction: column">
    <div style="display: flex">
        <button style="width: fit-content">
            potpissers tips
        </button>
        <button style="">
            hcf tips
        </button>
        <button>
            class tips
        </button>
        <button style="margin-left: auto"></button>
    </div>
    <ul id="hcftips" style="overflow-y: scroll; flex: 1">
        {{range .CubecoreTips}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <ul id="tips" style="overflow-y: scroll; flex: 0">
        {{range .PotpissersTips}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <ul id="classtips" style="overflow-y: scroll; flex: 0">
        {{range .ClassTips}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <!--    <div class="foo baz" style="">-->
    <!--        <h3>-->
    <!--            &lt;!&ndash;        TODO -> map + loot tables&ndash;&gt;-->
    <!--        </h3>-->
    <!--    </div>-->
</div>

<div class="foo baz" style="text-align: center; flex: 1;">
    <button style="align-self: center">
        factions
    </button>
    <ul>

    </ul>
</div>
{{end}}