{{define "potpissers"}}potpissers - mz{{end}}

{{define "gamemodes"}}
<option disabled selected hidden>mz.potpissers.com</option>
<option value="/">home</option>
<option disabled>mz.potpissers.com</option>
<option value="hcf">hcf.potpissers.com</option>
{{end}}

{{define "server info"}}
<ul style="font-size: 87.5%; flex: 1">
    <li class=li1>{{ .AttackSpeed }} attack speed</li>
</ul>
{{end}}

{{define "content"}}
<div class="" style="display: flex">
    <div class="foo baz" style="text-align: center; flex: 3">
        <button style="">mz info</button>
        <ul id="tips" style="visibility: hidden">
            {{range .Tips}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </div>
    <div class="foo baz" style="flex: 1; text-align: center">
        <button>bandits</button>
        <button>heroes</button>
    </div>
<!--    <div class="foo baz" style="">-->
<!--        <h3>-->
<!--            &lt;!&ndash;        TODO -> map + loot tables&ndash;&gt;-->
<!--        </h3>-->
<!--    </div>-->
</div>
{{end}}