html {
    background-color: #A0AFBF
}
body {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .5);
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 44vh 44vh auto;
}
::-webkit-scrollbar {
    display: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;

    border-radius: .25rem;

    margin-bottom: .5rem;
    width: fit-content
}
.foo {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
    border-radius: .5rem
}
.fi {
    font-size: 106.25%;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;

    border-radius: .25rem
}
button {
    font-size: 106.25%;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
}
select {
    font-size: 106.25%;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;

    border-radius: .25rem
}
table {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
    border-radius: .5rem;
}
td {
    vertical-align: top;
    font-size: 75%
}
img {
    /*TODO */
}
footer {
    grid-column: 2;
    text-align: center;
}

.bar {
    color: #A0ADB8;
    background-color: #33383D;
}
.baz {
    color: #DEDEE3;
    background-color: #4F565E
}
.ifc {
    display: inline-flex;
    flex-direction: column
}