html {
    background-attachment: fixed;
    background-size: cover
}

body {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
    border-radius: .5rem;

    backdrop-filter: blur(.1rem);
    background: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 44vh 44vh auto;
}

.bd {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
    border-radius: .5rem;

    background: rgba(255, 255, 255, 0.2);
}

.mbd {
    background: rgba(255, 255, 255, 0.4);
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    gap: .5rem;
    /*border: .1rem solid black;*/
    /*box-shadow: .1rem .1rem .1rem black;*/
    border-radius: .5rem;

    /*width: fit-content;*/
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;

    border-radius: .25rem;

    margin-bottom: .5rem;
    width: fit-content;
    background-color: #f0f0f0
}

input {
    font-size: 106.25%;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: .1rem solid black;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;

    border-radius: .25rem
}

.input-valid {
    border: .1rem solid green;
}

.input-invalid {
    border: .1rem solid red;
}

div {
    gap: .5rem;
    border-radius: .5rem;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*padding-left: .5rem;*/
    /*padding-right: .5rem;*/
}

button {
    font-size: 106.25%;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
}

select {
    font-size: 106.25%;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;

    border-radius: .25rem
}

table {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
    border-radius: .5rem;
}

td {
    vertical-align: top;
    font-size: 75%
}

footer {
    grid-column: 2;
    text-align: center;
}

.ifc {
    display: inline-flex;
    flex-direction: column
}

.fsb {
    display: flex;
    justify-content: space-between;
    text-align: left
}

.fc85 {
    display: flex;
    flex-direction: column;
    width: 85%
}

.h {
    display: none !important;
}

.r {
    background-color: indianred;
}

small {
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: .1rem solid black;
    box-shadow: .1rem .1rem .1rem black;
    border-radius: .5rem;

    background-color: #F0F0F0;
    margin: 0
}