{{define "discordmessageslist"}}
    {{range .}}
        <li>
            <a href="https://discord.com/channels/{{$.DiscordId}}/{{.ChannelID}}/{{.ID}}">
                <p>
                    {{.Author.Username}}: {{.Content}}
                </p>
            </a>
        </li>
    {{end}}
{{end}}