{{define "server ticker buttons"}}<button style="width: fit-content">votes</button>{{end}}{{define "server ticker data"}}<!--TODO-->{{end}}<!--        <div class="foo baz">--><!--            &lt;!&ndash;        <h3>TODO network builds + live hub map</h3>&ndash;&gt;--><!--        </div>-->