{{define "map"}}
<select style="font-size: 75%">
    <option disabled selected hidden></option>
<!--    TODO maps-->
</select>
{{end}}

{{define "server info"}}
<table style="width: 100%">
    <tr>
        <td>deathban</td>
        <td>revive cost</td>
        <td>event loot</td>
        <td>border</td>
    </tr>
    <tr>
        <td>{{ .DeathBanMinutes }}m</td>
        <td>{{ .MainTemplateData.OffPeakLivesNeeded }}x</td>
        <td>{{ .LootFactor }}x</td>
        <td>{{ .BorderSize }}</td>
    </tr>
</table>
<select style="font-size: 75%; align-self: end; width: fit-content; text-align: right; margin-top: auto">
    <option disabled selected hidden>/mapkit</option>

    <option disabled>sharpness {{ .SharpnessLimit }}</option>
    <option disabled>protection {{ .ProtectionLimit }}</option>
    <option disabled>power {{ .PowerLimit }}</option>
    <option disabled>regen {{ .RegenLimit }}</option>
    <option disabled>strength {{ .StrengthLimit }}</option>
    <option disabled>weakness {{ .IsWeaknessEnabled }}</option>
    <option disabled>extended debuffs {{ .IsBardPassiveDebuffingEnabled }}</option>
    <option disabled>dtr max {{ .DtrMax }}</option>
</select>
{{end}}

{{define "events button"}}
<button style="font-size: 75%">/events</button>
{{end}}

{{define "server ticker buttons"}}
<button style="">/f list</button>
{{end}}

{{define "server ticker data"}}
<ul style="overflow-y: scroll">
    {{range .Factions}}
    <li>
        <p>
            {{.Name}}
        </p>
    </li>
    {{end}}
</ul>
{{end}}

<!--{{define "content"}}-->
<!--&lt;!&ndash;    <div class="foo baz" style="">&ndash;&gt;-->
<!--&lt;!&ndash;        <h3>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;        TODO -> map + loot tables&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--{{end}}-->