{{define "server info"}}
<iframe src="/mz-map/index.html" style="width: 100%"></iframe>
{{end}}

{{define "server ticker buttons"}}
<div>
    <span class=ifc>
    <button>bandits</button>
    <input name="mz-ticker" type="radio" checked>
</span>
    <span class=ifc>
    <button>heroes</button>
    <input name="mz-ticker" type="radio">
</span>
</div>
{{end}}

{{define "server ticker data"}}
<ul>
    {{range .Bandits}}
    <li>
        <p>
            {{.DeathMessage}}
        </p>
    </li>
    {{end}}
</ul>
{{end}}

<!--{{define "content"}}-->
<!--<div class="foo baz" style="flex: 3; display: flex; flex-direction: column">-->
<!--    &lt;!&ndash;    <div class="foo baz" style="">&ndash;&gt;-->
<!--    &lt;!&ndash;        <h3>&ndash;&gt;-->
<!--    &lt;!&ndash;            &lt;!&ndash;        TODO -> map + loot tables&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        </h3>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
<!--{{end}}-->